<?xml version="1.0" encoding="utf-8"?>
<Media Key="6bae38ee-af79-4c97-8216-c71660bbb7ed" Alias="Cards" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cards</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:41:13</CreateDate>
    <NodeName Default="Cards" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3a2k201z/cards.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>