<?xml version="1.0" encoding="utf-8"?>
<Media Key="843c3521-ce79-493c-b513-b436b8162d2b" Alias="Castle 500X357" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Castle500X357</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:26:36</CreateDate>
    <NodeName Default="Castle 500X357" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e20dzbdz/castle-500x357.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>