<?xml version="1.0" encoding="utf-8"?>
<Media Key="3480de9e-d516-46a8-b403-caf8f15213bb" Alias="Club 21" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Club21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:17:21</CreateDate>
    <NodeName Default="Club 21" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tdpianaw/club-21.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>