<?xml version="1.0" encoding="utf-8"?>
<Media Key="105b771f-93f9-4e65-a00c-c18bf3ffd83a" Alias="Cover" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cover</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:00:31</CreateDate>
    <NodeName Default="Cover" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/df1fwehz/cover.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>