<?xml version="1.0" encoding="utf-8"?>
<Media Key="b7edbf96-f2f6-4d69-a45e-e0f1450943ea" Alias="Dice Twenty Faces One Svgrepo Com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DiceTwentyFacesOneSvgrepoCom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-05-03T13:48:09</CreateDate>
    <NodeName Default="Dice Twenty Faces One Svgrepo Com" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u45p1n5w/dice-twenty-faces-one-svgrepo-com.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>