<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf719c63-2fd5-44a8-9c4a-fa11df0c502d" Alias="Dnd Heroes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DndHeroes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T16:45:25</CreateDate>
    <NodeName Default="Dnd Heroes" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mwohdp4v/dnd-heroes.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>