<?xml version="1.0" encoding="utf-8"?>
<Media Key="12555749-f3fa-4c13-8e98-8edf1b02f07c" Alias="Draco" Level="2">
  <Info>
    <Parent Key="3fdbdb97-6607-4ac8-80ba-6830712c782b">Races</Parent>
    <Path>/Races/Draco</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:43:50</CreateDate>
    <NodeName Default="Draco" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j3lfkex0/draco.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>