<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3a74c8c-0969-4dd0-a62d-669651b19b39" Alias="Dsc0395 Min 2048X1371" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dsc0395Min2048X1371</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:15:42</CreateDate>
    <NodeName Default="Dsc0395 Min 2048X1371" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rjgkpy1j/dsc0395-min-2048x1371.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>