<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ee67b82-44ac-467d-a77c-a434e6751f3a" Alias="Dsc0376 Min" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dsc0376Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:17:08</CreateDate>
    <NodeName Default="Dsc0376 Min" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qr3pm1vm/dsc0376-min.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>