<?xml version="1.0" encoding="utf-8"?>
<Media Key="22bd0163-4b22-4c0b-8bd6-633fb89e19fe" Alias="Dsc0379 Min" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dsc0379Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:17:54</CreateDate>
    <NodeName Default="Dsc0379 Min" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mual0irc/dsc0379-min.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>