<?xml version="1.0" encoding="utf-8"?>
<Media Key="940e0901-a2ca-43ad-8660-77c384a4009d" Alias="Elf" Level="2">
  <Info>
    <Parent Key="3fdbdb97-6607-4ac8-80ba-6830712c782b">Races</Parent>
    <Path>/Races/Elf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:53:47</CreateDate>
    <NodeName Default="Elf" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a2eb3fgk/elf.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>