<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c835b03-3b13-49db-9f9c-251cb4c8dc33" Alias="Gangrel" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gangrel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T18:24:46</CreateDate>
    <NodeName Default="Gangrel" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/avnjhhat/gangrel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>