<?xml version="1.0" encoding="utf-8"?>
<Media Key="af4d1b0a-2f27-4430-b23c-c92241873617" Alias="Hafling" Level="2">
  <Info>
    <Parent Key="3fdbdb97-6607-4ac8-80ba-6830712c782b">Races</Parent>
    <Path>/Races/Hafling</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:40:21</CreateDate>
    <NodeName Default="Hafling" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bqnf1lzh/hafling.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>