<?xml version="1.0" encoding="utf-8"?>
<Media Key="81505205-975d-4533-a1c9-51afb01c064d" Alias="Half Orc" Level="2">
  <Info>
    <Parent Key="3fdbdb97-6607-4ac8-80ba-6830712c782b">Races</Parent>
    <Path>/Races/HalfOrc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:45:47</CreateDate>
    <NodeName Default="Half Orc" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/anjfbak3/half-orc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>