<?xml version="1.0" encoding="utf-8"?>
<Media Key="e36a58dc-73f6-45e0-8899-52532c312b40" Alias="Half Elf" Level="2">
  <Info>
    <Parent Key="3fdbdb97-6607-4ac8-80ba-6830712c782b">Races</Parent>
    <Path>/Races/HalfElf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:48:36</CreateDate>
    <NodeName Default="Half Elf" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1jmgvy5w/half-elf.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>