<?xml version="1.0" encoding="utf-8"?>
<Media Key="f87ed327-b168-4840-b8a6-3d958d311877" Alias="Human" Level="2">
  <Info>
    <Parent Key="3fdbdb97-6607-4ac8-80ba-6830712c782b">Races</Parent>
    <Path>/Races/Human</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:52:35</CreateDate>
    <NodeName Default="Human" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ehjh34di/human.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>