<?xml version="1.0" encoding="utf-8"?>
<Media Key="50b934b6-4c0a-40e8-8f70-fd07ccd52ec6" Alias="Image 2023 05 03 15 10 30" Level="2">
  <Info>
    <Parent Key="9fbe834a-bd83-488a-b583-90389a1cd409">Masters</Parent>
    <Path>/Masters/Image20230503151030</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T15:14:10</CreateDate>
    <NodeName Default="Image 2023 05 03 15 10 30" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wa0lsuak/image_2023-05-03_15-10-30.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>