<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fbe834a-bd83-488a-b583-90389a1cd409" Alias="Masters" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Masters</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-03T17:56:25</CreateDate>
    <NodeName Default="Masters" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties />
</Media>