<?xml version="1.0" encoding="utf-8"?>
<Media Key="1910b977-217c-48d8-80f9-48a1d9e0bc06" Alias="Monsters Hero Dnd 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MonstersHeroDnd1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T18:29:16</CreateDate>
    <NodeName Default="Monsters Hero Dnd 1" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/og2bagl2/monsters_hero_dnd_1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>