<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d9823a2-13af-4a19-991f-d05c69480fd9" Alias="Orc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Orc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:48:42</CreateDate>
    <NodeName Default="Orc" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uqrjqdnp/orc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>