<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fdbdb97-6607-4ac8-80ba-6830712c782b" Alias="Races" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Races</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-03T17:54:16</CreateDate>
    <NodeName Default="Races" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties />
</Media>