<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd4528d3-7ee4-417c-8bd0-4283a9e32f80" Alias="Smh1i1htx2c61 E1613153485232" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Smh1i1htx2c61E1613153485232</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T18:28:04</CreateDate>
    <NodeName Default="Smh1i1htx2c61 E1613153485232" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0uuelxpe/smh1i1htx2c61-e1613153485232.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>