<?xml version="1.0" encoding="utf-8"?>
<Media Key="38abac14-4880-4111-897b-e50a17b6b8b0" Alias="Stephen Oakley Dnd Group Lineup" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StephenOakleyDndGroupLineup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T18:30:48</CreateDate>
    <NodeName Default="Stephen Oakley Dnd Group Lineup" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ckwkwoea/stephen-oakley-dnd-group-lineup.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>