<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e8cc01d-cbfb-486c-bc02-0e0989a850ea" Alias="Table" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Table</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T14:40:48</CreateDate>
    <NodeName Default="Table" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dpaiydx1/table.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>