<?xml version="1.0" encoding="utf-8"?>
<Media Key="11e08ea2-d44c-4b49-bea5-7e381c99f945" Alias="Z6azff2vz2b21" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Z6azff2vz2b21</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-05-03T17:11:24</CreateDate>
    <NodeName Default="Z6azff2vz2b21" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ushoaekm/z6azff2vz2b21.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>