<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f99494d-f7dd-432b-bc47-1daa58a585ef" Alias="blogPage" Level="3">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-browser-window color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/Content+Pages</Folder>
    <Compositions>
      <Composition Key="5581f0f6-d8f7-43bf-9c1f-688482ee3c95">pageContentProperties</Composition>
      <Composition Key="959b2231-f25a-44ab-8af8-17e31f2eef0d">pageHeaderProperties</Composition>
      <Composition Key="0f5bb8c1-95cd-4272-aae2-5911c739bc98">sEO</Composition>
    </Compositions>
    <DefaultTemplate>BlogPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c7ffda42-b88a-4726-b3e8-139c3589788b">BlogPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8bfb7767-a1b2-4a70-a36d-a946502fab78" SortOrder="0">blogPostPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>