<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2651937-61dd-446e-92c4-0e44e1d02402" Alias="carouselRow" Level="4">
  <Info>
    <Name>Carousel Row</Name>
    <Icon>icon-repeat color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Carousel+Row</Folder>
    <Compositions>
      <Composition Key="6083ee50-ce6e-40b2-a82b-cec2f71d1cd2">descriptionProperty</Composition>
      <Composition Key="50fdf433-b43a-40e5-a6b1-0c16a60553e9">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>355edc6b-e566-46f1-8849-88b643f8d9b7</Key>
      <Name>Carousel Items</Name>
      <Alias>carouselItems</Alias>
      <Definition>9e9e9076-eb81-46c4-ba19-28de85dc9ee3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the items for this carousel]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>db03dbfb-0552-4f5b-8da0-f1128dc8c613</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>