<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="721015d8-b9e9-44c5-b2e9-757c29a56bab" Alias="contacts" Level="3">
  <Info>
    <Name>Contacts</Name>
    <Icon>icon-phone color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages/General</Folder>
    <Compositions>
      <Composition Key="5581f0f6-d8f7-43bf-9c1f-688482ee3c95">pageContentProperties</Composition>
      <Composition Key="959b2231-f25a-44ab-8af8-17e31f2eef0d">pageHeaderProperties</Composition>
      <Composition Key="0f5bb8c1-95cd-4272-aae2-5911c739bc98">sEO</Composition>
    </Compositions>
    <DefaultTemplate>Contacts</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eff8b1d6-a4b6-4114-baa6-77c27dfc7b47">Contacts</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>