<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4daf24ef-2284-4945-bb93-36faa325bc0e" Alias="featuredItemsRow" Level="4">
  <Info>
    <Name>Featured Items Row</Name>
    <Icon>icon-bulleted-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Featured+Items+Row</Folder>
    <Compositions>
      <Composition Key="6083ee50-ce6e-40b2-a82b-cec2f71d1cd2">descriptionProperty</Composition>
      <Composition Key="50fdf433-b43a-40e5-a6b1-0c16a60553e9">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e84d3f77-fe96-4b25-ab58-2e4d546cea97</Key>
      <Name>Featured Items</Name>
      <Alias>featuredItems</Alias>
      <Definition>feb4b360-c7a0-4f47-95e4-89135a1ca96b</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the featured items for this row]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>96268477-9f07-415c-8d6d-3fa07e1bd5ea</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>