<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e031351a-7f48-430f-9826-805735aae254" Alias="footerNavigationItemSettings" Level="3">
  <Info>
    <Name>Footer Navigation Item Settings</Name>
    <Icon>icon-settings-alt color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Navigation</Folder>
    <Compositions>
      <Composition Key="bc211880-037b-48a7-874d-a424b0060c86">visibilityProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>