<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ebb23fa-9eb8-45c7-8184-c53102a89fc7" Alias="imageLinkItemSettings" Level="4">
  <Info>
    <Name>Image Link Item Settings</Name>
    <Icon>icon-settings-alt color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings/Elements+Settings/Featured+Items+Row+Settings</Folder>
    <Compositions>
      <Composition Key="bc211880-037b-48a7-874d-a424b0060c86">visibilityProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>