<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a81dc761-78d8-4faf-a172-c49d926df608" Alias="imageRow" Level="4">
  <Info>
    <Name>Image Row</Name>
    <Icon>icon-pictures-alt-2 color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Image+Row</Folder>
    <Compositions>
      <Composition Key="6083ee50-ce6e-40b2-a82b-cec2f71d1cd2">descriptionProperty</Composition>
      <Composition Key="34d19007-c9ac-4e2f-a763-64628fe485dc">imageProperty</Composition>
      <Composition Key="a9c3f4cf-8e1a-4aa2-927e-7189243f73e1">linkProperty</Composition>
      <Composition Key="50fdf433-b43a-40e5-a6b1-0c16a60553e9">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a09eeecf-49ec-40f0-b859-0a93ab5d2a6c</Key>
      <Name>Botom Text</Name>
      <Alias>text</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2cfb74a8-0e57-4654-a2c1-c97c8bdc8a5b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>