<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb2aa2d4-0bab-4a49-96b0-7500aa832752" Alias="siteFooterProperties" Level="3">
  <Info>
    <Name>Site Footer Properties</Name>
    <Icon>icon-defrag color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions/Site+Properties</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d9c3307c-5046-4bc1-9fe5-4c806e745c3b</Key>
      <Name>Footer Links</Name>
      <Alias>footerLinks</Alias>
      <Definition>13325741-d6e2-4226-b91f-4a36254eee8e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="siteFooter1">Site Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5fb39c88-2c50-4536-8744-006e5ebdeb74</Key>
      <Name>Footer Social Links</Name>
      <Alias>footerSocialLinks</Alias>
      <Definition>80eff844-de86-4fa4-a18c-c6bdd29261bd</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the social links to display in the footer]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="siteFooter1">Site Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>154de52d-bc27-4162-a581-787113f4996b</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the text for footer]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="siteFooter1">Site Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a86fd2ef-a891-4fdd-954f-79458a11d957</Key>
      <Name>Footer Title</Name>
      <Alias>footerTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the title for footer]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="siteFooter1">Site Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>efd311ce-cb7d-4253-83b8-1aaded8938c7</Key>
      <Caption>Site Footer</Caption>
      <Alias>siteFooter1</Alias>
      <Type>Tab</Type>
      <SortOrder>50</SortOrder>
    </Tab>
  </Tabs>
</ContentType>