<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5e1a272a-a247-4f1c-bed2-0dd6442bfc9f" Alias="siteSettings" Level="2">
  <Info>
    <Name>Site Settings</Name>
    <Icon>icon-settings color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions>
      <Composition Key="0f5bb8c1-95cd-4272-aae2-5911c739bc98">sEO</Composition>
      <Composition Key="eb2aa2d4-0bab-4a49-96b0-7500aa832752">siteFooterProperties</Composition>
      <Composition Key="b63a0e8c-9c6a-4a2c-87bd-2e821e05cfe9">siteHeaderProperties</Composition>
      <Composition Key="0291dc67-b89c-4a7f-8c2f-f2591c1de6d9">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>