@using Umbraco.Cms.Core.Services;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.V11.umbraco.models;
@using Umbraco.V11.umbraco;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;
    var siteSettings = Umbraco.ContentAtRoot().DescendantsOrSelf<SiteSettings>().First();
}

<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeAsync("MetaData", new{ content = Model, settings = siteSettings})
</head>
<body>
    <!-- Navigation-->
    @await Component.InvokeAsync("SiteNavigation",new { siteSettings = siteSettings, isHeader = true, content = Model})

    <partial name="~/Views/Partials/header.cshtml" />

    @RenderBody()

    @await Component.InvokeAsync("SiteNavigation", new { siteSettings = siteSettings })

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
</body>
</html>