<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e9e9076-eb81-46c4-ba19-28de85dc9ee3" Alias="[BlockList] Carousel Items" Level="3">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Component+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f93e6aa5-1188-4844-b40a-2a1bfe14113c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' && title != null ? title : 'Slide Item ' + $index }} {{$settings.hide == '1' ? '[HIDEN]' : ''}}",
      "settingsElementTypeKey": "4ab7b911-0e97-4170-84fd-eaeaa820f04e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>