<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5862b481-4814-4163-be09-f0f76251f825" Alias="[BlockList] Navigation Items" Level="3">
  <Info>
    <Name>[BlockList] Navigation Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Link+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' && title != null ? title : 'Navigation Item' + $index }} {{$settings.hide == '1' ? '[HIDEN]' : ''}}",
      "settingsElementTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>