<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a45f243-912f-4260-805a-266837cc5efd" Alias="[BlockList] Accordion List" Level="3">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Component+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f63f61b2-e47a-4a55-a437-6fd6fd286c47",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' && title != null ? title : 'Accordion Item ' + $index }} {{$settings.hide == '1' ? '[HIDEN]' : ''}}",
      "settingsElementTypeKey": "61cd309a-7e05-4ce2-a233-7f55827079bd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>