<?xml version="1.0" encoding="utf-8"?>
<DataType Key="13325741-d6e2-4226-b91f-4a36254eee8e" Alias="[BlockList] Footer Navigation Items" Level="3">
  <Info>
    <Name>[BlockList] Footer Navigation Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Link+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "92f8adc2-8f1b-4e20-8609-c98df26457e1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' && title != null ? title : 'Footer Navigation Item' + $index }} {{$settings.hide == '1' ? '[HIDEN]' : ''}}",
      "settingsElementTypeKey": "e031351a-7f48-430f-9826-805735aae254",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>