<?xml version="1.0" encoding="utf-8"?>
<DataType Key="feb4b360-c7a0-4f47-95e4-89135a1ca96b" Alias="[BlockList] Image Links" Level="3">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Component+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "7ef1e78e-509c-4f66-a596-2a74e66298fb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' && title != null ? title : 'Image Link ' + $index }} {{$settings.hide == '1' ? '[HIDEN]' : ''}}",
      "settingsElementTypeKey": "3ebb23fa-9eb8-45c7-8184-c53102a89fc7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>