<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9c777041-3eb8-43fe-bb7d-ac9e980eecc4" Alias="[MultiURLPicker] Single Url Picker" Level="3">
  <Info>
    <Name>[MultiURLPicker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Link+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>