<?xml version="1.0" encoding="utf-8"?>
<DataType Key="be1914ae-6aba-44d1-82da-bb8ff9ad036a" Alias="[RichTextEditor] Simple RTE" Level="3">
  <Info>
    <Name>[RichTextEditor] Simple RTE</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types/Text+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "bold",
      "italic",
      "underline"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>