@using Umbraco.V11.umbraco.models;
@model MetaDataModel

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="@Model.Description" />
<meta name="keywords" content="@Model.Keywords" />
<meta name="author" content="" />
<title>@Model.Title</title>
