<?xml version="1.0" encoding="utf-8"?>
<Content Key="b3dc7f9f-263d-4ef0-8ce0-87d3fbb15626" Alias="Game etiquette in TRPG" Level="3">
  <Info>
    <Parent Key="651bf78f-6159-4990-b3c9-1869fe45e273">Tips</Parent>
    <Path>/Home/Tips/GameEtiquetteInTRPG</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2023-05-03T17:16:30</CreateDate>
    <NodeName Default="Game etiquette in TRPG">
      <Name Culture="da">Spiletikette i TRPG</Name>
      <Name Culture="en-us">Game etiquette in TRPG</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d78e5294-7ed9-43cc-a694-cf573b5c0c5d">BlogPostPage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "707b6308-f255-4bd2-9ec8-67db0020a785",
    "mediaKey": "e3a74c8c-0969-4dd0-a62d-669651b19b39"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "bcbf31f7-9df5-4410-8e06-0a6fb6e651c4",
    "mediaKey": "e3a74c8c-0969-4dd0-a62d-669651b19b39"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/83059cf1611547bcaac6e03a901b1010",
        "settingsUdi": "umb://element/a3b8d32c7e5147229fd252563213647a"
      },
      {
        "contentUdi": "umb://element/52a27528c00849aea2a0882ff2267746",
        "settingsUdi": "umb://element/cb456977085e4238a7bff2733ec02eb6"
      },
      {
        "contentUdi": "umb://element/f5f4559ff46a46c7a9a535048dd160e0",
        "settingsUdi": "umb://element/9fe4ee4ecd624b9e8d742a9ede708fb0"
      },
      {
        "contentUdi": "umb://element/970267267d0d480f9f6e217ddf7cc3ab",
        "settingsUdi": "umb://element/f9731e86e39a44ac9bd916f2191d9287"
      },
      {
        "contentUdi": "umb://element/575c00b2e256426689abd6c5675e8ff6",
        "settingsUdi": "umb://element/fe031ad2601949c5a6f7f39077c3d524"
      },
      {
        "contentUdi": "umb://element/e25ffefcf74249b49f7a840af841ef82",
        "settingsUdi": "umb://element/ebdbbc4d3f7146789a8342dade343c68"
      },
      {
        "contentUdi": "umb://element/09054124190641499f9fcc7ae3e0176e",
        "settingsUdi": "umb://element/df678f8cb82f4d9ea90166f9ed6534cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/83059cf1611547bcaac6e03a901b1010",
      "content": "<p>Brætrollespil er improvisationsteater, brætspil og generel historiefremstilling. Derfor afhænger en behagelig og spændende atmosfære ikke kun af mesteren, men også af hver spiller. I denne artikel vil vi give nogle anbefalinger til, hvordan du gør dine spil hyggeligere og mere behagelige for gruppen.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/52a27528c00849aea2a0882ff2267746",
      "content": "<p>Hjælp fra mesteren og tips fra andre spillere kan hjælpe en nybegyndermester, men gå ikke for langt. Der er én leder i spillet, og selvom du kender læren og reglerne perfekt, bør du ikke tage magttøjlerne fra mesteren. Husk den gyldne regel for alle brætrollespil - reglerne er ikke det vigtigste, det vigtigste er det sjove ved spillet.</p>",
      "title": "Tvist med mesteren"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/f5f4559ff46a46c7a9a535048dd160e0",
      "title": "Giv tid til andre spillere",
      "content": "<p>Mange spillere kan lide at være i centrum af opmærksomheden, mens de spiller deres karakterer. Nogle er så passionerede omkring det, at de forsøger at passe ind i enhver scene, bare fordi. Husk, at bordplade-RPG'er er en holdoplevelse, så tag ikke andres tid. Det er endda værd at opmuntre til at inkludere andre spillere i dine scener, såsom at bede en karakter om hjælp.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/970267267d0d480f9f6e217ddf7cc3ab",
      "title": "Handl efter spillets logik",
      "content": "<p>Stol ikke på undskyldningen om, at det er, hvad min karakter ville gøre. Hvis hele partiet forsøger at snige sig ind på slottet, og en af partiet forråder alle til vagterne, bryder det historien og stemningen.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/575c00b2e256426689abd6c5675e8ff6",
      "title": "Adskil spillet og virkeligheden",
      "content": "<p>Karaktererne i spillet kan have en konflikt, men du bør ikke overføre denne konflikt til det virkelige liv. Fornærmelser og at finde ud af forholdet ved spillebordet vil ikke tilføje nydelse til hverken spillerne eller værten.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/e25ffefcf74249b49f7a840af841ef82",
      "title": "Accepter nederlag",
      "content": "<p>Mesterens og gruppens opgave er at skabe en spændende historie sammen. Derfor kan hvert nederlag give en ny udviklingsrunde som karakter og plottet generelt. Klager du over reglerne, klager over andre spilleres og mesterens handlinger, manipulerer resultatet af kastet, du sætter personlige mål over gruppemedlemmernes generelle komfort. Husk, dette er ikke et computerspil, og her skal karakteren altid vinde.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/09054124190641499f9fcc7ae3e0176e",
      "title": "Kommuniker med mesteren og spillerne.",
      "content": "<p>Hvis du har visse forventninger til spillet eller nogle ting er uacceptable for dig, så lad mesteren vide det før spillet. Dette er nødvendigt for at oplægsholderen kan gøre situationen under spillet så behagelig som muligt.</p>\n<p> </p>\n<p>Nyd dine spil og husk, at der ikke er noget mere kedeligt end at spille alene. Vær ansvarlige og venlige spillere!</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/a3b8d32c7e5147229fd252563213647a"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/cb456977085e4238a7bff2733ec02eb6"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/9fe4ee4ecd624b9e8d742a9ede708fb0"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/f9731e86e39a44ac9bd916f2191d9287"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/fe031ad2601949c5a6f7f39077c3d524"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/ebdbbc4d3f7146789a8342dade343c68"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/df678f8cb82f4d9ea90166f9ed6534cd"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/af234782c6244e6ab06eeb11427b73bb",
        "settingsUdi": "umb://element/ce2aa6db4cae405bb1dc18d9d3abd691"
      },
      {
        "contentUdi": "umb://element/acaba2e2737f4c80958e4e8a67a3b60b",
        "settingsUdi": "umb://element/a59aa2bbc8244ad8bb65d31f2e9d7f5e"
      },
      {
        "contentUdi": "umb://element/a1a3d0a1a35f416ea7e7bb1f087e244f",
        "settingsUdi": "umb://element/37677b1b5a6442538f7fd4508064fdab"
      },
      {
        "contentUdi": "umb://element/371376a2d9cc4c03b0e25645b112ced6",
        "settingsUdi": "umb://element/7e0dfe8d83034207b15ade7e68d6f5d9"
      },
      {
        "contentUdi": "umb://element/4ff109113db44f81846c82ac73634414",
        "settingsUdi": "umb://element/81b220ed934141ff94e4b69d3b23f369"
      },
      {
        "contentUdi": "umb://element/78057544783b4a5bbea50c20f6a018d1",
        "settingsUdi": "umb://element/088b6f33676446599c23c96b696c4d91"
      },
      {
        "contentUdi": "umb://element/77edc46528b443c5ac2c80fe1e9e0acf",
        "settingsUdi": "umb://element/15e2413e539b445782377313013d2a3c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/af234782c6244e6ab06eeb11427b73bb",
      "content": "<p><span class=\"ryNqvb\">Board role-playing games are improvisational theater, board game, and general story-making.</span> <span class=\"ryNqvb\">Therefore, a comfortable and exciting atmosphere depends not only on the master, but also on each player.</span> <span class=\"ryNqvb\">In this article, we will give some recommendations on how to make your games cozier and more comfortable for the group.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/acaba2e2737f4c80958e4e8a67a3b60b",
      "content": "<p><span class=\"ryNqvb\">Help from the master, and tips from other players may help a novice master, but don't go too far.</span> <span class=\"ryNqvb\">There is one leader in the game, and even if you know the lore and rules perfectly, you should not take the reins of power from the master.</span> <span class=\"ryNqvb\">Remember the golden rule of all board role-playing games - the rules are not the main thing, the main thing is the fun of the game.</span></p>",
      "title": " Dispute with the master"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/a1a3d0a1a35f416ea7e7bb1f087e244f",
      "title": "Give time to other players",
      "content": "<p><span class=\"ryNqvb\">Many players like to be the center of attention while playing their characters.</span> <span class=\"ryNqvb\">Some are so passionate about it that they try to fit into any scene, just because.</span> <span class=\"ryNqvb\">Remember that tabletop RPGs are a team experience, so don't take up other people's time.</span> <span class=\"ryNqvb\">It's even worth encouraging the inclusion of other players in your scenes, such as asking a character for help.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/371376a2d9cc4c03b0e25645b112ced6",
      "title": "Act according to the logic of the game",
      "content": "<p><span class=\"ryNqvb\">Don't rely on the excuse that this is what my character would do.</span> <span class=\"ryNqvb\">If the whole party tries to sneak into the castle and one of the party betrays everyone to the guards, it breaks the story and the atmosphere.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/4ff109113db44f81846c82ac73634414",
      "title": "Separate the game and reality",
      "content": "<p><span class=\"ryNqvb\">The characters in the game may have a conflict, but you should not transfer this conflict into real life.</span> <span class=\"ryNqvb\">Insults and finding out about relationships at the gaming table will not add pleasure to either the players or the host.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/78057544783b4a5bbea50c20f6a018d1",
      "title": "Accept defeat",
      "content": "<p><span class=\"ryNqvb\">The task of the master and the group is to create an exciting story together.</span> <span class=\"ryNqvb\">Therefore, each defeat can give a new round of development as a character and the plot in general.</span> <span class=\"ryNqvb\">Complaining about the rules, complaining about the actions of other players and the master, manipulating the result of the throw, you put personal goals above the general comfort of the group members.</span> <span class=\"ryNqvb\">Remember, this is not a computer game, and here the character must always win.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/77edc46528b443c5ac2c80fe1e9e0acf",
      "title": "Communicate with the master and players.",
      "content": "<p><span class=\"ryNqvb\">If you have certain expectations from the game or some things are unacceptable to you, let the master know before the game.</span> <span class=\"ryNqvb\">This is necessary in order for the presenter to make the situation during the game as comfortable as possible.</span></p>\n<p> </p>\n<p><span class=\"ryNqvb\">Enjoy your games and remember that there is nothing more boring than playing alone. Be responsible and friendly players!</span></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/ce2aa6db4cae405bb1dc18d9d3abd691"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/a59aa2bbc8244ad8bb65d31f2e9d7f5e"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/37677b1b5a6442538f7fd4508064fdab"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/7e0dfe8d83034207b15ade7e68d6f5d9"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/81b220ed934141ff94e4b69d3b23f369"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/088b6f33676446599c23c96b696c4d91"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/15e2413e539b445782377313013d2a3c"
    }
  ]
}]]></Value>
    </mainContent>
    <sEODescription>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOTitle>
    <subtitle>
      <Value Culture="da"><![CDATA[Adfærdsregler]]></Value>
      <Value Culture="en-us"><![CDATA[Behavior Rules]]></Value>
    </subtitle>
    <title>
      <Value Culture="da"><![CDATA[Spiletikette i TRPG]]></Value>
      <Value Culture="en-us"><![CDATA[Game etiquette in TRPG]]></Value>
    </title>
  </Properties>
</Content>