<?xml version="1.0" encoding="utf-8"?>
<Content Key="628d821b-b30c-46ed-89e9-6f9cc99037d9" Alias="How to start playing your character in D&amp;D" Level="3">
  <Info>
    <Parent Key="651bf78f-6159-4990-b3c9-1869fe45e273">Tips</Parent>
    <Path>/Home/Tips/HowToStartPlayingYourCharacterInDD</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPostPage</ContentType>
    <CreateDate>2023-05-03T17:10:53</CreateDate>
    <NodeName Default="How to start playing your character in D&amp;D">
      <Name Culture="da">Sådan begynder du at spille din karakter i D&amp;D</Name>
      <Name Culture="en-us">How to start playing your character in D&amp;D</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="d78e5294-7ed9-43cc-a694-cf573b5c0c5d">BlogPostPage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "4cfbad43-d11d-44d2-86ee-ce4f22fa656b",
    "mediaKey": "11e08ea2-d44c-4b49-bea5-7e381c99f945"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a8665ab1-d704-45b0-8450-8a1176aa7977",
    "mediaKey": "11e08ea2-d44c-4b49-bea5-7e381c99f945"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/824f3b80d25a458f9884a4a235d68ab5",
        "settingsUdi": "umb://element/f5e378de15a149a29fb277aa9e9d8130"
      },
      {
        "contentUdi": "umb://element/44e98a039b954036811e8f82e305c112",
        "settingsUdi": "umb://element/fd19d4d3bcbd4e1baff9e906859ae4a1"
      },
      {
        "contentUdi": "umb://element/0255d134d13d41fcaf2995302f804d3f",
        "settingsUdi": "umb://element/5f52dc5e8cf84983927b7eec91f06bf3"
      },
      {
        "contentUdi": "umb://element/862c5ee5da03464298389891546a52a1",
        "settingsUdi": "umb://element/974700ba04764e96982126a7eb650df7"
      },
      {
        "contentUdi": "umb://element/25025c1143f24700b4b21d103750ae45",
        "settingsUdi": "umb://element/f2c901b264f34777a9077a19f259bd1b"
      },
      {
        "contentUdi": "umb://element/dae0254b13aa4eb3b7296653f7d1d3dd",
        "settingsUdi": "umb://element/02103766b972460a90358016a0a01af1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/824f3b80d25a458f9884a4a235d68ab5",
      "title": "Sådan begynder du at spille din karakter i D&D",
      "content": "<p>Rollespil på bordplader er svimlende eventyr og et teater af fantasi, hvor du kan prøve rollen som den skabte helt. Og en god præstation af karakteren tilføjer dynamik og følelsesmæssige farver til spillet. Vi har samlet nogle vigtige tips til, hvad du kan gøre for at forbedre dit spil</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/44e98a039b954036811e8f82e305c112",
      "title": "Skift din stemme!",
      "content": "<p>Mest sandsynligt er din karakter og du forskellige. En mand kan spille en troldkvinde, og en kvinde kan spille en barbarmand. Så brug din stemme til at angive, hvornår du taler, og hvornår din karakter taler. Du behøver ikke vise vidunderne ved vokal og stemmemodulation, bare kom med en karakteristisk lyd til karakteren. Han kan tale hurtigt eller langsomt, mumle eller opfange ord, lytte eller stamme, hviske eller snakke.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/0255d134d13d41fcaf2995302f804d3f",
      "title": "Beskriv din karakters handlinger!",
      "content": "<p>Selvfølgelig er det nemmere at sige: \"Jeg kaster en ildkugle! 36 skade!\" men tænk over, hvordan du gør det. Måske åbner din karakter en bog og reciterer en ældgammel besværgelse, eller knipser blot med fingrene for at skabe en eksplosion? Vis begivenheder! Skrig, raser, løft dit sværd højt over den vidtstrakte fjende, træk i snoren af en imaginær bue. Fortæl karakterens bevægelse med din krop, forkæl dig med spillet (bare ikke rør din nabo)!</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/862c5ee5da03464298389891546a52a1",
      "title": "Beskriv din karakters tanker!",
      "content": "<p>Nogle gange kan det virke unaturligt, for i det virkelige liv kan vi ikke læse hinandens tanker, men i et bordrollespil vil en sådan tilgang kun bidrage til skuet. Hvis du ser en slagmark fyldt med kroppe, beskriv det flashback karakteren har. Lad din helt reagere på, hvad der sker i forhold til hans verdensbillede og baggrundshistorie. Lad herbalisten samle blomster, og paladin beskytter de svage og svagelige. Reager på og interager med verden.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/25025c1143f24700b4b21d103750ae45",
      "title": "Hent ideer fra andre spillere!",
      "content": "<p>Dungeons and Dragons er et holdspil, og det handler ikke kun om kampsituationer, hvor alle i partiet har en rolle at spille. Det er interaktion med andre karakterer, der virkelig kan afsløre din karakter. Saml derfor andre spilleres ideer, kommuniker med deres karakterer, vær interesseret i deres tanker og historie. Nogle gange kan en halv times samtale med holdet på et værtshus over et krus øl være lige så spændende som en kamp med en drage.</p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/dae0254b13aa4eb3b7296653f7d1d3dd",
      "title": "Arbejd sammen med mesteren!",
      "content": "<p>Spilmesteren er som ingen anden interesseret i at få din karakter til at skinne som en stjerne på himlen. Skriv derfor en guide om baggrunden for din karakter. Spørg også om spillets generelle koncept og beskriv dine forventninger og ønsker. Mesteren skaber den verden, som din helt vil leve i, derfor med viden om karakteren vil han helt sikkert gøre sit liv mere interessant og vil derfor give grunde til et lyst spil.</p>\n<p> </p>\n<p>Du er velkommen til at prøve dig frem, improvisere og skabe. Hav et godt spil og et godt spil, skurke!</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/f5e378de15a149a29fb277aa9e9d8130"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/fd19d4d3bcbd4e1baff9e906859ae4a1"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/5f52dc5e8cf84983927b7eec91f06bf3"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/974700ba04764e96982126a7eb650df7"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/f2c901b264f34777a9077a19f259bd1b"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/02103766b972460a90358016a0a01af1"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/2804ddfbb019481f996b713ce79e9818",
        "settingsUdi": "umb://element/36860929d9304681983c6e26cfd9fdfe"
      },
      {
        "contentUdi": "umb://element/a7af3e47f88b4dcaa2adb956f9d0d3ac",
        "settingsUdi": "umb://element/9a4b1d849bc247ecb23eb7e29bf7476c"
      },
      {
        "contentUdi": "umb://element/0131647956964dafb1c5fca8b578882d",
        "settingsUdi": "umb://element/f670b4d5e4e049f88729ad8453579921"
      },
      {
        "contentUdi": "umb://element/bfbd4de8a9fd4d948e886ccb4e10894f",
        "settingsUdi": "umb://element/caf1dfb74dbd489a92bbf8b4ca131bae"
      },
      {
        "contentUdi": "umb://element/5c10d7a613fb418f9674d3ec4287face",
        "settingsUdi": "umb://element/f966d41720fd412c82c82e45d2a5d5ae"
      },
      {
        "contentUdi": "umb://element/26082f2bf8cd4ba3b0f55315ecacfd11",
        "settingsUdi": "umb://element/d13cd2ff3d944605b6f60023bd75d250"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/2804ddfbb019481f996b713ce79e9818",
      "title": "How to start playing your character in D&D",
      "content": "<p><span class=\"ryNqvb\">Tabletop role-playing games are dizzying adventures and a theater of imagination, where you can try on the role of the created hero.</span> <span class=\"ryNqvb\">And a good performance of the character adds dynamics and emotional colors to the game.</span> <span class=\"ryNqvb\">We have put together some important tips on what you can do to improve your game</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/a7af3e47f88b4dcaa2adb956f9d0d3ac",
      "title": " Change your voice!",
      "content": "<p><span class=\"ryNqvb\">Most likely, your character and you are different.</span> <span class=\"ryNqvb\">A man can play a sorceress, and a woman can play a barbarian man.</span> <span class=\"ryNqvb\">So use your voice to indicate when you are speaking and when your character is speaking.</span> <span class=\"ryNqvb\">You don't have to show the wonders of vocals and voice modulation, just come up with a characteristic sound for the character.</span> <span class=\"ryNqvb\">He can speak quickly or slowly, mumble or pick up words, lisp or stutter, whisper or chatter.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/0131647956964dafb1c5fca8b578882d",
      "title": "Describe your character's actions!",
      "content": "<p><span class=\"ryNqvb\">Of course, it's easier to say: \"I'm throwing a fireball!</span> <span class=\"ryNqvb\">36 damage!” but think about how you do it.</span> <span class=\"ryNqvb\">Maybe your character opens a book and recites an ancient spell, or simply snaps his fingers to create an explosion?</span> <span class=\"ryNqvb\">Show events!</span> <span class=\"ryNqvb\">Scream, raging, raise your sword high above the sprawling enemy, pull the string of an imaginary bow.</span> <span class=\"ryNqvb\">Convey the movement of the character with your body, indulge in the game (just don't touch your neighbor)!</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/bfbd4de8a9fd4d948e886ccb4e10894f",
      "title": "Describe your character's thoughts!",
      "content": "<p><span class=\"ryNqvb\">Sometimes this may seem unnatural, because in real life we cannot read each other's minds, but in a tabletop role-playing game, such an approach will only add to the spectacle.</span> <span class=\"ryNqvb\">If you see a battlefield littered with bodies, describe the flashback the character has.</span> <span class=\"ryNqvb\">Let your hero react to what happens in relation to his worldview and backstory.</span> <span class=\"ryNqvb\">Let the herbalist gather flowers, and the paladin protect the weak and infirm.</span> <span class=\"ryNqvb\">React to and interact with the world.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/5c10d7a613fb418f9674d3ec4287face",
      "title": "Pick up ideas from other players!",
      "content": "<p><span class=\"ryNqvb\">Dungeons and Dragons is a team game, and it's not just about combat situations where everyone in the party has a role to play.</span> <span class=\"ryNqvb\">It is interaction with other characters that can truly reveal your character.</span> <span class=\"ryNqvb\">Therefore, pick up the ideas of other players, communicate with their characters, be interested in their thoughts and history.</span> <span class=\"ryNqvb\">Sometimes a half-hour conversation of the team in a tavern over a mug of ale can be as exciting as a fight with a dragon.</span></p>"
    },
    {
      "contentTypeKey": "ba63b852-9c49-4375-9fb7-770dfd4dccf0",
      "udi": "umb://element/26082f2bf8cd4ba3b0f55315ecacfd11",
      "title": "Work together with the master!",
      "content": "<p><span class=\"ryNqvb\">The game master, like no other, is interested in making your character shine like a star in the sky.</span> <span class=\"ryNqvb\">Therefore, write a wizard about the background of your character.</span> <span class=\"ryNqvb\">Also ask about the general concept of the game and describe your expectations and wishes.</span> <span class=\"ryNqvb\">The master creates the world in which your hero will live, therefore, having knowledge about the character, he will definitely make his life more interesting, and therefore, will give reasons for a bright play.</span></p>\n<p> </p>\n<p><span class=\"ryNqvb\">Feel free to try yourself, improvise and create. Have a great game and a great game, villains!</span></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/36860929d9304681983c6e26cfd9fdfe"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/9a4b1d849bc247ecb23eb7e29bf7476c"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/f670b4d5e4e049f88729ad8453579921"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/caf1dfb74dbd489a92bbf8b4ca131bae"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/f966d41720fd412c82c82e45d2a5d5ae"
    },
    {
      "contentTypeKey": "7a4ab145-883a-4433-bb47-0d59d8c4d41c",
      "udi": "umb://element/d13cd2ff3d944605b6f60023bd75d250"
    }
  ]
}]]></Value>
    </mainContent>
    <sEODescription>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOTitle>
    <subtitle>
      <Value Culture="da"><![CDATA[Tips til rollespil]]></Value>
      <Value Culture="en-us"><![CDATA[Roleplay Tips]]></Value>
    </subtitle>
    <title>
      <Value Culture="da"><![CDATA[D&D]]></Value>
      <Value Culture="en-us"><![CDATA[D&D]]></Value>
    </title>
  </Properties>
</Content>