<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d490071-3ed0-4038-b2d2-a095b308db4b" Alias="Other" Level="2">
  <Info>
    <Parent Key="2a4949be-e953-4f18-b125-d1a1047763e8">Home</Parent>
    <Path>/Home/Other</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2023-05-03T16:54:42</CreateDate>
    <NodeName Default="Other">
      <Name Culture="da">Andet</Name>
      <Name Culture="en-us">Other</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c7ffda42-b88a-4726-b3e8-139c3589788b">BlogPage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "f314a658-c7e4-49c4-864d-ce03e2d5e2fc",
    "mediaKey": "4773dc1d-7e58-4920-b3d3-f2318263bc21"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "98019ff7-7ea9-4e1d-8806-a700858c6286",
    "mediaKey": "4773dc1d-7e58-4920-b3d3-f2318263bc21"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/36db386f913d4c6ab46a878275e7884a",
        "settingsUdi": "umb://element/5e8c0b65ad8b405685bd156786a906a1"
      },
      {
        "contentUdi": "umb://element/bc5c63328c07472889fdc67cc6f3002a",
        "settingsUdi": "umb://element/94314b1c7f8c4e50857b2b43b7ce5760"
      },
      {
        "contentUdi": "umb://element/655cb62d67354cf89909377c77c45ef3",
        "settingsUdi": "umb://element/c80d390412d648f9a85147c59cc411bb"
      },
      {
        "contentUdi": "umb://element/d91cbd1cc45740dc84ff9e0f032b8e1e",
        "settingsUdi": "umb://element/d00c994f0db24b8faa7d2a2f0e49111f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/36db386f913d4c6ab46a878275e7884a",
      "title": "Hvorfor skal du spille forskellige systemer?",
      "image": "[\r\n  {\r\n    \"key\": \"902c678a-7d5f-4f09-a756-5b85eb35b5ea\",\r\n    \"mediaKey\": \"9c835b03-3b13-49db-9f9c-251cb4c8dc33\"\r\n  }\r\n]",
      "link": "[{\"name\":\"Why should you play different systems?\",\"udi\":\"umb://document/5d695852aee64839a7e19a1ea05e415b\"}]",
      "text": "<p style=\"text-align: center;\">Vores klub er primært en klub om Dungeons and Dragons. Men vores mestre kører forskellige systemer, og vi vil fortælle dig, hvorfor du skal forlade din komfortzone og spille ikke kun klassisk...</p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/bc5c63328c07472889fdc67cc6f3002a",
      "title": "Hvilken slags DnD-afspiller er du?",
      "image": "[\r\n  {\r\n    \"key\": \"2d645db0-0aac-4e0e-af90-9f4e5c897f13\",\r\n    \"mediaKey\": \"dd4528d3-7ee4-417c-8bd0-4283a9e32f80\"\r\n  }\r\n]",
      "link": "[{\"name\":\"What kind of DnD player are you?\",\"udi\":\"umb://document/5c4c93476d454682b62399ff4d9ef835\"}]",
      "text": "<p style=\"text-align: center;\">Vi har opdelt klasserne, løbene og de forskellige spillestile i Dungeons and Dragons bordpladerollespillet. Men hvad med spillerne selv? I dag lister vi hovedtyperne af spillere for de hundrede...</p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/655cb62d67354cf89909377c77c45ef3",
      "title": "Monstre som eventyrere?",
      "image": "[\r\n  {\r\n    \"key\": \"e61542bb-c40c-4bcc-a5fd-f7139c5b8b2d\",\r\n    \"mediaKey\": \"1910b977-217c-48d8-80f9-48a1d9e0bc06\"\r\n  }\r\n]",
      "link": "[{\"name\":\"Monsters as adventurers?\",\"udi\":\"umb://document/7c77f81530d046de8a796781656650ab\"}]",
      "text": "<p style=\"text-align: center;\">Forestil dig - i hjørnet af hulen skurrer en nisse, skærer fjendernes ører af, en kobold neutraliserer fælder, så hans kammerater - en kæmpe ork, en fleksibel kvindeslange og en hobgoblin-samurai kommer igennem...</p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/d91cbd1cc45740dc84ff9e0f032b8e1e",
      "title": "5 eksempler på tegn til DnD",
      "image": "[\r\n  {\r\n    \"key\": \"0b03a3d0-f935-42de-8705-048ccc46e5e6\",\r\n    \"mediaKey\": \"38abac14-4880-4111-897b-e50a17b6b8b0\"\r\n  }\r\n]",
      "link": "[{\"name\":\"5 examples of characters for DnD\",\"udi\":\"umb://document/482eddbd413a4259bed09a246e7572ba\"}]",
      "text": "<p style=\"text-align: center;\">Nogle gange er jeg for doven til at vælge en helt, eller jeg vil gerne bryde ind i spillet, men jeg vil ikke bøvle med karakterskabelse. I denne artikel foreslår jeg fem universelle arketyper, når...</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/5e8c0b65ad8b405685bd156786a906a1"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/94314b1c7f8c4e50857b2b43b7ce5760"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/c80d390412d648f9a85147c59cc411bb"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/d00c994f0db24b8faa7d2a2f0e49111f"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/51999f50a5ab40c9a1a9fe0a9d8de0a6",
        "settingsUdi": "umb://element/080cfdf2d9c34a3083bcd9a366ed3ca8"
      },
      {
        "contentUdi": "umb://element/3216258e49a34f799785361ce9cd7999",
        "settingsUdi": "umb://element/a136d4c64e2f41b199ada76370a10f58"
      },
      {
        "contentUdi": "umb://element/381b378ad89d47eeb2851b1ee2748e37",
        "settingsUdi": "umb://element/e657f7ef015245778680b7a941486438"
      },
      {
        "contentUdi": "umb://element/90b7dec4511d45f898822c1c67531b7a",
        "settingsUdi": "umb://element/8cd569c1eb3a45f1a7777f77c14dd0ed"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/51999f50a5ab40c9a1a9fe0a9d8de0a6",
      "title": "Why should you play different systems?",
      "image": "[\r\n  {\r\n    \"key\": \"902c678a-7d5f-4f09-a756-5b85eb35b5ea\",\r\n    \"mediaKey\": \"9c835b03-3b13-49db-9f9c-251cb4c8dc33\"\r\n  }\r\n]",
      "link": "[{\"name\":\"Why should you play different systems?\",\"udi\":\"umb://document/5d695852aee64839a7e19a1ea05e415b\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Our Club is primarily a club about Dungeons and Dragons.</span> <span class=\"ryNqvb\">But our masters run different systems, and we will tell you why you should leave your comfort zone and play not only classic...</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/3216258e49a34f799785361ce9cd7999",
      "title": "What kind of DnD player are you?",
      "image": "[\r\n  {\r\n    \"key\": \"2d645db0-0aac-4e0e-af90-9f4e5c897f13\",\r\n    \"mediaKey\": \"dd4528d3-7ee4-417c-8bd0-4283a9e32f80\"\r\n  }\r\n]",
      "link": "[{\"name\":\"What kind of DnD player are you?\",\"udi\":\"umb://document/5c4c93476d454682b62399ff4d9ef835\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">We've broken down the classes, races, and different playstyles in the Dungeons and Dragons tabletop role-playing game.</span> <span class=\"ryNqvb\">But what about the players themselves?</span> <span class=\"ryNqvb\">Today we list the main types of players for the hundred...</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/381b378ad89d47eeb2851b1ee2748e37",
      "title": "Monsters as adventurers?",
      "image": "[\r\n  {\r\n    \"key\": \"e61542bb-c40c-4bcc-a5fd-f7139c5b8b2d\",\r\n    \"mediaKey\": \"1910b977-217c-48d8-80f9-48a1d9e0bc06\"\r\n  }\r\n]",
      "link": "[{\"name\":\"Monsters as adventurers?\",\"udi\":\"umb://document/7c77f81530d046de8a796781656650ab\"}]",
      "text": "<p style=\"text-align: center;\">Imagine - in the corner of the cave, a goblin is scrounging, cutting off the ears of enemies, a kobold neutralizes traps so that his companions - a huge orc, a flexible woman-serpent and a hobgoblin-samurai get through...</p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/90b7dec4511d45f898822c1c67531b7a",
      "title": "5 examples of characters for DnD",
      "image": "[\r\n  {\r\n    \"key\": \"0b03a3d0-f935-42de-8705-048ccc46e5e6\",\r\n    \"mediaKey\": \"38abac14-4880-4111-897b-e50a17b6b8b0\"\r\n  }\r\n]",
      "link": "[{\"name\":\"5 examples of characters for DnD\",\"udi\":\"umb://document/482eddbd413a4259bed09a246e7572ba\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Sometimes I'm too lazy to choose a hero, or I want to break into the game, but I don't want to bother with character creation.</span> <span class=\"ryNqvb\">In this article, I propose five universal archetypes when...</span></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/080cfdf2d9c34a3083bcd9a366ed3ca8"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/a136d4c64e2f41b199ada76370a10f58"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/e657f7ef015245778680b7a941486438"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/8cd569c1eb3a45f1a7777f77c14dd0ed"
    }
  ]
}]]></Value>
    </mainContent>
    <sEODescription>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOTitle>
    <subtitle>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value Culture="da"><![CDATA[Andet]]></Value>
      <Value Culture="en-us"><![CDATA[Other]]></Value>
    </title>
  </Properties>
</Content>