<?xml version="1.0" encoding="utf-8"?>
<Content Key="74c65c71-9dc9-40c4-9227-3b2beb1a48de" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="2a4949be-e953-4f18-b125-d1a1047763e8">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-04-27T14:13:41</CreateDate>
    <NodeName Default="Site Settings">
      <Name Culture="da">Indstillinger for websted</Name>
      <Name Culture="en-us">Site Settings</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerLinks>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/35423ad176f14111ae71c3464c7dc31a",
        "settingsUdi": "umb://element/4276514106fc44ccae678fc60ec488b2"
      },
      {
        "contentUdi": "umb://element/a517367e38d44e45a7a8f3dead9e533a",
        "settingsUdi": "umb://element/25f4e9e80ee94adab0102036e8b2295a"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "92f8adc2-8f1b-4e20-8609-c98df26457e1",
      "udi": "umb://element/35423ad176f14111ae71c3464c7dc31a",
      "title": "FAQ",
      "links": "[{\"name\":\"Om\",\"udi\":\"umb://document/9c90bfed77f64715a2bfca136175b0bf\"},{\"name\":\"Kontaktpersoner\",\"udi\":\"umb://document/57426f32098a48ba9e9590083e5cdce9\"},{\"name\":\"Mestre\",\"udi\":\"umb://document/d721ebb2682b4fd2a571563fd9cc3728\"},{\"name\":\"Klubbens regler\",\"udi\":\"umb://document/cc9c77544d3642f696a7e0654b9ffed4\"}]"
    },
    {
      "contentTypeKey": "92f8adc2-8f1b-4e20-8609-c98df26457e1",
      "udi": "umb://element/a517367e38d44e45a7a8f3dead9e533a",
      "title": "Afsnit",
      "links": "[{\"name\":\"Tips\",\"udi\":\"umb://document/651bf78f61594990b3c91869fe45e273\"},{\"name\":\"Andet\",\"udi\":\"umb://document/7d4900713ed04038b2d2a095b308db4b\"}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e031351a-7f48-430f-9826-805735aae254",
      "udi": "umb://element/4276514106fc44ccae678fc60ec488b2"
    },
    {
      "contentTypeKey": "e031351a-7f48-430f-9826-805735aae254",
      "udi": "umb://element/25f4e9e80ee94adab0102036e8b2295a"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6dd0387c1e8546a5b62696156980da5e",
        "settingsUdi": "umb://element/6da848126dd14feab6f41bde3602736a"
      },
      {
        "contentUdi": "umb://element/830fbf75bb9a4c85a326fa50b74f2223",
        "settingsUdi": "umb://element/59bc88ced03546f8b1638a63e510e121"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "92f8adc2-8f1b-4e20-8609-c98df26457e1",
      "udi": "umb://element/6dd0387c1e8546a5b62696156980da5e",
      "title": "FAQ",
      "links": "[{\"name\":\"About\",\"udi\":\"umb://document/9c90bfed77f64715a2bfca136175b0bf\"},{\"name\":\"Contacts\",\"udi\":\"umb://document/57426f32098a48ba9e9590083e5cdce9\"},{\"name\":\"Club Rules\",\"udi\":\"umb://document/cc9c77544d3642f696a7e0654b9ffed4\"},{\"name\":\"Masters\",\"udi\":\"umb://document/d721ebb2682b4fd2a571563fd9cc3728\"}]"
    },
    {
      "contentTypeKey": "92f8adc2-8f1b-4e20-8609-c98df26457e1",
      "udi": "umb://element/830fbf75bb9a4c85a326fa50b74f2223",
      "title": "Sections",
      "links": "[{\"name\":\"Tips\",\"udi\":\"umb://document/651bf78f61594990b3c91869fe45e273\"},{\"name\":\"Other\",\"udi\":\"umb://document/7d4900713ed04038b2d2a095b308db4b\"}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "e031351a-7f48-430f-9826-805735aae254",
      "udi": "umb://element/6da848126dd14feab6f41bde3602736a"
    },
    {
      "contentTypeKey": "e031351a-7f48-430f-9826-805735aae254",
      "udi": "umb://element/59bc88ced03546f8b1638a63e510e121"
    }
  ]
}]]></Value>
    </footerLinks>
    <footerSocialLinks>
      <Value Culture="da"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/"
  },
  {
    "network": "linkedin",
    "name": "LinkedIn",
    "url": "https://linkedin.com/in/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  }
]]]></Value>
    </footerSocialLinks>
    <footerText>
      <Value Culture="da"><![CDATA[Du kender klubben på adressen - Velyka Zhytomyrska Street, 6a. Budinok med et vægmaleri, 1 på toppen, en parade.]]></Value>
      <Value Culture="en-us"><![CDATA[You will know the club at the address - Velyka Zhytomyrska Street, 6a. Budinok with a mural, 1 on top, one parade.]]></Value>
    </footerText>
    <footerTitle>
      <Value Culture="da"><![CDATA[Crit Hit]]></Value>
      <Value Culture="en-us"><![CDATA[Crit Hit]]></Value>
    </footerTitle>
    <mainNavigation>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a8be4b021e1f4e38a1d2934cb7d47de4",
        "settingsUdi": "umb://element/fd7344e0f0794ead9e9b6b9c93621805"
      },
      {
        "contentUdi": "umb://element/0b8b5006fede489185ddc3b6103fa884",
        "settingsUdi": "umb://element/6c42dbf3a3f440eeb3af0cab7a6832e9"
      },
      {
        "contentUdi": "umb://element/2c172c457e5d4d3f8493cfa7a84abdd4",
        "settingsUdi": "umb://element/a76b71ae71c342fb8f12aa0cf0bb1d1b"
      },
      {
        "contentUdi": "umb://element/965801e930ac4d02b8ae6f6f5190a1e5",
        "settingsUdi": "umb://element/6657c84dd72741b4a170e514ceae20fa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/a8be4b021e1f4e38a1d2934cb7d47de4",
      "title": "Hjem",
      "link": "[{\"name\":\"Hjem\",\"udi\":\"umb://document/2a4949bee9534f18b125d1a1047763e8\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/0b8b5006fede489185ddc3b6103fa884",
      "title": "Mestre",
      "link": "[{\"name\":\"Mestre\",\"udi\":\"umb://document/d721ebb2682b4fd2a571563fd9cc3728\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/965801e930ac4d02b8ae6f6f5190a1e5",
      "title": "FAQ",
      "link": null,
      "childLinks": "[{\"name\":\"Om\",\"udi\":\"umb://document/9c90bfed77f64715a2bfca136175b0bf\"},{\"name\":\"Kontaktpersoner\",\"udi\":\"umb://document/57426f32098a48ba9e9590083e5cdce9\"},{\"name\":\"Klubbens regler\",\"udi\":\"umb://document/cc9c77544d3642f696a7e0654b9ffed4\"}]"
    },
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/2c172c457e5d4d3f8493cfa7a84abdd4",
      "title": "Bloggen",
      "link": null,
      "childLinks": "[{\"name\":\"Tips\",\"udi\":\"umb://document/651bf78f61594990b3c91869fe45e273\"},{\"name\":\"Andet\",\"udi\":\"umb://document/7d4900713ed04038b2d2a095b308db4b\"}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/fd7344e0f0794ead9e9b6b9c93621805"
    },
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/6c42dbf3a3f440eeb3af0cab7a6832e9"
    },
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/6657c84dd72741b4a170e514ceae20fa"
    },
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/a76b71ae71c342fb8f12aa0cf0bb1d1b"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/fb7d44e9fc994173901995f4f72987de",
        "settingsUdi": "umb://element/096505346a834466be4b6cb0e89dc516"
      },
      {
        "contentUdi": "umb://element/06554e905cf34aca847627534dfffe0a",
        "settingsUdi": "umb://element/3c09e959e1a449f6aac4d517a27118b2"
      },
      {
        "contentUdi": "umb://element/251ce070da0f4c3fbf085f02845e0d21",
        "settingsUdi": "umb://element/da46f46b46c24b5ba7c1961fb0be9205"
      },
      {
        "contentUdi": "umb://element/60d00e27a8944443b556e2b39026113a",
        "settingsUdi": "umb://element/b9b989d5bfca423c93176fdc9c9be8f9"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/fb7d44e9fc994173901995f4f72987de",
      "title": "Home",
      "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/2a4949bee9534f18b125d1a1047763e8\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/60d00e27a8944443b556e2b39026113a",
      "title": "FAQ",
      "link": null,
      "childLinks": "[{\"name\":\"About\",\"udi\":\"umb://document/9c90bfed77f64715a2bfca136175b0bf\"},{\"name\":\"Contacts\",\"udi\":\"umb://document/57426f32098a48ba9e9590083e5cdce9\"},{\"name\":\"Club Rules\",\"udi\":\"umb://document/cc9c77544d3642f696a7e0654b9ffed4\"}]"
    },
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/06554e905cf34aca847627534dfffe0a",
      "title": "Masters",
      "link": "[{\"name\":\"Masters\",\"udi\":\"umb://document/d721ebb2682b4fd2a571563fd9cc3728\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "5f8b81f1-0dc8-43e2-be34-c74cc1990fc5",
      "udi": "umb://element/251ce070da0f4c3fbf085f02845e0d21",
      "title": "Blog",
      "link": null,
      "childLinks": "[{\"name\":\"Tips\",\"udi\":\"umb://document/651bf78f61594990b3c91869fe45e273\"},{\"name\":\"Other\",\"udi\":\"umb://document/7d4900713ed04038b2d2a095b308db4b\"}]"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/096505346a834466be4b6cb0e89dc516"
    },
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/b9b989d5bfca423c93176fdc9c9be8f9"
    },
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/3c09e959e1a449f6aac4d517a27118b2"
    },
    {
      "contentTypeKey": "00db697a-fd73-44eb-bad5-28dba7fd6b1a",
      "udi": "umb://element/da46f46b46c24b5ba7c1961fb0be9205"
    }
  ]
}]]></Value>
    </mainNavigation>
    <sEODescription>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[[
  "sadf",
  "asdfdsaf",
  "dfsagfdsg",
  "dsafgsdfg"
]]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="da"><![CDATA[Crit Hit]]></Value>
      <Value Culture="en-us"><![CDATA[Crit Hit]]></Value>
    </sEOTitle>
    <siteLogoImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "a2509d4c-7aa9-480a-b47a-9d8eab8479ca",
    "mediaKey": "bb7dafe9-c7d4-45c6-9dda-5b1599d9b99a"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "87196b0c-d90c-4932-98af-eb4af014410e",
    "mediaKey": "bb7dafe9-c7d4-45c6-9dda-5b1599d9b99a"
  }
]]]></Value>
    </siteLogoImage>
    <siteTitle>
      <Value Culture="da"><![CDATA[Crit Hit]]></Value>
      <Value Culture="en-us"><![CDATA[Crit Hit]]></Value>
    </siteTitle>
  </Properties>
</Content>