<?xml version="1.0" encoding="utf-8"?>
<Content Key="651bf78f-6159-4990-b3c9-1869fe45e273" Alias="Tips" Level="2">
  <Info>
    <Parent Key="2a4949be-e953-4f18-b125-d1a1047763e8">Home</Parent>
    <Path>/Home/Tips</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPage</ContentType>
    <CreateDate>2023-05-03T16:44:25</CreateDate>
    <NodeName Default="Tips">
      <Name Culture="da">Tips</Name>
      <Name Culture="en-us">Tips</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="da">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="c7ffda42-b88a-4726-b3e8-139c3589788b">BlogPage</Template>
  </Info>
  <Properties>
    <headerImage>
      <Value Culture="da"><![CDATA[[
  {
    "key": "9511d21c-bd3e-4ff6-bcfd-75347b164707",
    "mediaKey": "4773dc1d-7e58-4920-b3d3-f2318263bc21"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "204f2a05-f18a-4e7d-a737-bd16364a2abe",
    "mediaKey": "4773dc1d-7e58-4920-b3d3-f2318263bc21"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value Culture="da"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/d0caff3bab5641eaac2d234e44d77307",
        "settingsUdi": "umb://element/2dd6ff3219f744c3a3c7889bf7b27066"
      },
      {
        "contentUdi": "umb://element/fe2618690bab480b9ae9f67334ec59f5",
        "settingsUdi": "umb://element/de125423f1bf49aba0d8e3a6071e3545"
      },
      {
        "contentUdi": "umb://element/ae70ce5f82ec4ba3ab63f5baa96238a2",
        "settingsUdi": "umb://element/2adc7719f4f745289acb855d1a7aca7c"
      },
      {
        "contentUdi": "umb://element/5f1b8d0ca07043339f712c0e85dca901",
        "settingsUdi": "umb://element/4758f5077bc5430ebfdf84f2e56dc1f5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/d0caff3bab5641eaac2d234e44d77307",
      "title": "Dungeons and Dragons: Sådan vælger du din første helt!",
      "description": "",
      "image": "[\r\n  {\r\n    \"key\": \"40935e86-2252-4080-9d83-640a4ad734f9\",\r\n    \"mediaKey\": \"bf719c63-2fd5-44a8-9c4a-fa11df0c502d\"\r\n  }\r\n]",
      "link": "[{\"name\":\"How to choose your first hero\",\"udi\":\"umb://document/adaf2098a38a429b97354207f7c0658e\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Hver af de nytilkomne til DND står over for hovedvalget - hvilken klasse skal de spille?</span> <span class=\"ryNqvb\">Denne artikel hjælper dig med at træffe det rigtige valg.</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/fe2618690bab480b9ae9f67334ec59f5",
      "title": "Dungeons and Dragons: Vælg din helts race",
      "image": "[\r\n  {\r\n    \"key\": \"3017e8a3-2067-48f0-82d5-7803b1b4044d\",\r\n    \"mediaKey\": \"105b771f-93f9-4e65-a00c-c18bf3ffd83a\"\r\n  }\r\n]",
      "link": "[{\"name\":\"D&D: Choose the race of your hero\",\"udi\":\"umb://document/29427e68b9d049eeaa82b91e79cc4cc3\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Når du opretter en karakter, skal du ikke kun vælge heltens klasse, men også racen.</span> <span class=\"ryNqvb\">Guiden hjælper dig med at træffe et valg.</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/ae70ce5f82ec4ba3ab63f5baa96238a2",
      "title": "Sådan begynder du at spille din karakter i D&D",
      "image": "[\r\n  {\r\n    \"key\": \"b51428fa-14f2-486a-89be-b794d3431d37\",\r\n    \"mediaKey\": \"11e08ea2-d44c-4b49-bea5-7e381c99f945\"\r\n  }\r\n]",
      "link": "[{\"name\":\"How to start playing your character in D&D\",\"udi\":\"umb://document/628d821bb30c46ed89e96f9cc99037d9\"}]",
      "text": "<p style=\"text-align: center;\">Bordrollespil er svimlende eventyr og et fantasiens teater, hvor du kan prøve rollen som den skabte helt. Og en god præstation af karakteren tilføjer dynamik og følelsesmæssige farver til spillet. Vi samlede...</p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/5f1b8d0ca07043339f712c0e85dca901",
      "title": "Spiletikette i TRPG",
      "image": "[\r\n  {\r\n    \"key\": \"534b63f6-b4f3-4976-ab3d-3a56fb617fd7\",\r\n    \"mediaKey\": \"e3a74c8c-0969-4dd0-a62d-669651b19b39\"\r\n  }\r\n]",
      "link": "[{\"name\":\"Game etiquette in TRPG\",\"udi\":\"umb://document/b3dc7f9f263d4ef08ce087d3fbb15626\"}]",
      "text": "<p style=\"text-align: center;\">Bordrollespil er improvisationsteater, brætspil og generel historiefremstilling. Derfor afhænger en behagelig og spændende atmosfære ikke kun af mesteren, men også af hver...</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/2dd6ff3219f744c3a3c7889bf7b27066"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/de125423f1bf49aba0d8e3a6071e3545"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/2adc7719f4f745289acb855d1a7aca7c"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/4758f5077bc5430ebfdf84f2e56dc1f5"
    }
  ]
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f062df98ba504dcf850a4e85b5dc1ea9",
        "settingsUdi": "umb://element/7900a2a392c847c494e7f640e1ab7d0a"
      },
      {
        "contentUdi": "umb://element/1b0d57a2aee9420b94a79cbca68123ca",
        "settingsUdi": "umb://element/4c8c036529e64bc79dcc4d85e6bee22a"
      },
      {
        "contentUdi": "umb://element/eb0e3e96800e4734aabb2963b669d6da",
        "settingsUdi": "umb://element/bb1ba11e9be74d1e8e1875acadcfe42b"
      },
      {
        "contentUdi": "umb://element/5785ac5d6d3943bf8f333d1ef1e6cc24",
        "settingsUdi": "umb://element/e366f9bd6d294a9b83727632af6f4475"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/f062df98ba504dcf850a4e85b5dc1ea9",
      "title": "Dungeons and Dragons: How to choose your first hero!",
      "description": "",
      "image": "[\r\n  {\r\n    \"key\": \"40935e86-2252-4080-9d83-640a4ad734f9\",\r\n    \"mediaKey\": \"bf719c63-2fd5-44a8-9c4a-fa11df0c502d\"\r\n  }\r\n]",
      "link": "[{\"name\":\"How to choose your first hero\",\"udi\":\"umb://document/adaf2098a38a429b97354207f7c0658e\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Each of the newcomers to DND faces the main choice - which class to play?</span> <span class=\"ryNqvb\">This article will help you make the right choice.</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/1b0d57a2aee9420b94a79cbca68123ca",
      "title": "Dungeons and Dragons: Choose the race of your hero",
      "image": "[\r\n  {\r\n    \"key\": \"3017e8a3-2067-48f0-82d5-7803b1b4044d\",\r\n    \"mediaKey\": \"105b771f-93f9-4e65-a00c-c18bf3ffd83a\"\r\n  }\r\n]",
      "link": "[{\"name\":\"D&D: Choose the race of your hero\",\"udi\":\"umb://document/29427e68b9d049eeaa82b91e79cc4cc3\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">When creating a character, you need to choose not only the class of the hero, but also the race.</span> <span class=\"ryNqvb\">The guide will help you make a choice.</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/eb0e3e96800e4734aabb2963b669d6da",
      "title": "How to start playing your character in D&D",
      "image": "[\r\n  {\r\n    \"key\": \"b51428fa-14f2-486a-89be-b794d3431d37\",\r\n    \"mediaKey\": \"11e08ea2-d44c-4b49-bea5-7e381c99f945\"\r\n  }\r\n]",
      "link": "[{\"name\":\"How to start playing your character in D&D\",\"udi\":\"umb://document/628d821bb30c46ed89e96f9cc99037d9\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Table role-playing games are dizzying adventures and a theater of imagination, where you can try on the role of the created hero.</span> <span class=\"ryNqvb\">And a good performance of the character adds dynamics and emotional colors to the game.</span> <span class=\"ryNqvb\">We gathered...</span></p>"
    },
    {
      "contentTypeKey": "a81dc761-78d8-4faf-a172-c49d926df608",
      "udi": "umb://element/5785ac5d6d3943bf8f333d1ef1e6cc24",
      "title": "Game etiquette in TRPG",
      "image": "[\r\n  {\r\n    \"key\": \"534b63f6-b4f3-4976-ab3d-3a56fb617fd7\",\r\n    \"mediaKey\": \"e3a74c8c-0969-4dd0-a62d-669651b19b39\"\r\n  }\r\n]",
      "link": "[{\"name\":\"Game etiquette in TRPG\",\"udi\":\"umb://document/b3dc7f9f263d4ef08ce087d3fbb15626\"}]",
      "text": "<p style=\"text-align: center;\"><span class=\"ryNqvb\">Table role-playing games are improvisational theater, board game, and general story-making.</span> <span class=\"ryNqvb\">Therefore, a comfortable and exciting atmosphere depends not only on the master, but also on each...</span></p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/7900a2a392c847c494e7f640e1ab7d0a"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/4c8c036529e64bc79dcc4d85e6bee22a"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/bb1ba11e9be74d1e8e1875acadcfe42b"
    },
    {
      "contentTypeKey": "df9ed807-78c7-4f0b-9d71-57a033141e81",
      "udi": "umb://element/e366f9bd6d294a9b83727632af6f4475"
    }
  ]
}]]></Value>
    </mainContent>
    <sEODescription>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEODescription>
    <sEOKeywords>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOKeywords>
    <sEOTitle>
      <Value Culture="da"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </sEOTitle>
    <subtitle>
      <Value Culture="da"><![CDATA[For begyndere]]></Value>
      <Value Culture="en-us"><![CDATA[ For Beginners]]></Value>
    </subtitle>
    <title>
      <Value Culture="da"><![CDATA[Tips]]></Value>
      <Value Culture="en-us"><![CDATA[Tips]]></Value>
    </title>
  </Properties>
</Content>